/* @import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root{

    /*
    --background-color: #1f1f1d;
    --nav-color: #3a5a40; 
    --card-color: #588157; 
    --text-color: white;

    */

    --backround-color: #a3b18a;
    --header-color:  #dad7cd;
    --accent-color: #3a5a40;
    --text-color: black ;
    --nav-color: #a98467; 
    --card-color: #a3b18a;
}

body{
    font-family: 'Josefin Sans', 'sans-serif'; 
    align-items: center;
    background-color: var(--header-color);
}


header{
    background-color: var(--header-color);
    display: flex;
    align-items: center;
}

header h1{
    width: 100%;
    text-align: center;
    color: var(--text-color); 
}

header div img{
   height:150px;                           
}


#top-header{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

#content{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center; 
}

ul{
    list-style: none;
    
}

nav{
    background-color: var(--header-color);
    
}

#navbar{
    display: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    
}
    

#navbar li{
    list-style: none; 
    text-align: center; 
    width: 100%;
    /* background-color: var(--accent-color); */
    padding: 1rem 0;
    /* display: none;  */
}

#navbar li a{
    color: var(--text-color);
    text-decoration: none; 
}

#navbar li:hover{
    opacity: .7;
    background-color: var(--header-color);
}


a{
    text-decoration: none; 
    font-size: 1.2rem;
}

#navbar.open{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--card-color);

}

#menu-button{
    background-color: inherit;
    font-size: 1.5rem;
    padding: .25rem .5rem; 
    border: 2px solid var(--text-color);
    display: block;
    color: var(--text-color);
    /* height: 2rem; */
}

#menu-button::before{
    content: "≡"; 
}

#menu-button.open::before{
    content: "X";
}


.events{
   margin: 1rem;
   padding: 1rem;
   color: var(--text-color);
   
   
}

.event-card{
    border: 2px solid var(--accent-color);
    background-color: var(--card-color); 
    padding: 1rem; 
    margin: 1rem; 
}

.event-card img{
    height: 125px ;
}

.weather{
    text-align: center; 
    margin: 0px;
    padding: 1rem;
    color: var(--text-color);
}

.weather img{
    height:125px; 
}

.weather-card{
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    padding: 1rem; 
    margin: 1rem; 
    background-color: var(--card-color);
   
}

.spotlights{
    /* display: flex;  */
    border-top: 2px solid var(--accent-color);
}


.spotlight{
    background-color: var(--card-color);
    margin: 1rem;
    padding: 1rem;
    color: var(--text-color);
    border: 2px solid var(--accent-color);
}

footer{
    background-color: var(--nav-color);
    text-align: center;
    color: var(--text-color);
    border-top: 2px solid var(--accent-color)
    
}

.main-footer{
    background-color: var(--header-color);
}

.base-footer{
    padding: 1rem; 
}

#footer-img{
    height: 250px;
    overflow: hidden;
}

.hero{
    /* border-top: 2px solid var(--nav-color);
    border-bottom: 2px solid var(--nav-color); */
    position: relative; 
    overflow: hidden; 
    max-height: 400px;
    text-align: center; 
    border-bottom: solid 2px var(--accent-color);
    border-top: solid 2px var(--accent-color);
}

.hero img{
    width: 100%;
    margin: 0px;
}

#call{
    position: absolute;
    top: 50px;
    left: 50px; 
    font-size: 1.25rem; 
    background-color: var(--backround-color);
    padding: .5rem; 
    border-radius: 8px;
}

#dark-mode{
    position: absolute;
    top: 1rem;
    right: 1rem; 
    height: 2rem;
    background-color: white;

}

#dark-mode::before{
    content:'🌚';
}

#dark-mode.dark::before{
    content: '☀';
}

.hero p {
    position: absolute; 
    top: 1rem;
    right:1rem;
}

.join-button{
    color:black;
} 

/* .hero p::before {
    content: "small";
    background-color: grey;
    opacity: .5;
    font-size: 2rem;
} */

/* Discover Page */

.sidebar{
    border: solid var(--nav-color) 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--card-color);
}

#discover-message{
    border: solid var(--nav-color) 5px;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: var(--card-color);
}

#sidebar-content{
    color: var(--text-color);
}

#discover-images{
    color: var(--text-color);
}

/* join form css */

form{
    text-align: center;
}

.label{
    display: block;
    text-align:left;
    padding-bottom: 1rem;
    color: var(--text-color);
    font-size: 1rem;
}

.label-1{
    margin-top: 5rem;
}

.label-8{
    margin-bottom: 1rem;
}

.prompt{
    font-size: 1.5rem;
    margin: auto;
    display: block; 
    margin-left: 15px;
}

input{
    margin-bottom: 1rem;
    height: 44px;
    width: 100%;
    max-width: 400px;
    margin-left: 15px;

}

#first-name, #last-name, #title-position, #email, #phone, #business, #membership, #description{
    border-radius: 10px;
    font-size: 1.2rem;
    padding-left: 1rem;
}


select{
    margin-bottom: 2rem;
    height: 44px;
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    margin-left: 15px;
}


#membership-info{
    background-color: var(--card-color);
    border: solid 5px var(--nav-color);
    margin-top: 5rem;
    margin-bottom: 1rem;
    align-content: center;
    border-radius: 10px;
    color: var(--text-color);
    padding: 1rem;
    margin-left: 10px;
}

textarea{
    margin-left: 15px;
}


#np, #bronze, #silver, #gold{
    padding-bottom: .5rem;
}

.red{
    color: blue;
    font-size: 2rem;
}

button[type="submit"]{
    font-size: 3.6rem;
    background-color: var(--card-color);
    color: var(--text-color);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    display: block;
    margin-left: 15px;
}

.benefits{
    padding-bottom: 1rem;
    font-size: 2rem;
}

input:required:hover{
    border-bottom: red solid 5px;
}

input:required:valid{
    border-bottom: green solid 5px;
}

textarea{
    padding: 1rem;
}


/* directory css */

/* buttons */

#directory-grid{
    margin: 20px;
    font-size: 2rem;
    padding: 10px;
    background-color: var(--nav-color);
    color: var(--text-color);
    border-radius: 10px;
    border: 2px solid var(--text-color)
}

#directory-list{
    margin: 20px;
    font-size: 2rem;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--nav-color);
    color: var(--text-color);
    border-radius: 10px;
    border: 2px solid var(--text-color)
}

/* card view */


.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin-bottom: 20px;
}


.directory-cards section{
    text-align: center;    
    border: 3px solid var(--nav-color);    
    width: 300px;
    background-color: var(--card-color);
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
    margin: 0px;
    color: var(--text-color);
    font-size: 1.5rem;
}


/* .directory-cards section:nth-child(1){
    display: none;
} */

.directory-cards section img{
    border-radius: 10px;
}


.directory-cards .card-button{
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--nav-color);
    padding: .5rem;
    border-radius: 5px;
}





/* list view */



.directory-list{    
    display: grid;    
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list .show{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: var(--text-color);
}

.directory-list .card-button{
    text-decoration: underline;
    color: var(--text-color);    
}


.directory-list section:nth-child(odd) {
    background-color: var(--body-color);
}

.directory-list section:nth-child(even) {
    background-color: var(--card-color)
}

.directory-list section{
    align-items: center;
}

/* #directory-data section:nth-child(1){
    font-weight: bold;
} */

/* Meet and Greet */

.meet-greet{
    display: none;
    background-color: var(--card-color);
    text-align: center;
    grid-column: 1/4;
}

.meet-greet.show{
    display: block;
   

}

.meet-greet button{
    background-color: var(--accent-color);
    color: white;
    margin-left: 5px;
}