@media screen and (min-width:800px){
 
 #menu-button{
    display: none
 }

 #navbar{     
   display: flex;
   flex-direction: row;
}

nav{
   background-color: var(--nav-color);
}

.event-card{
   width: 100%; 
}

 nav ul{
    display: block; 
    display: flex; 
    justify-content: space-between;
 }

 #top-header{
    align-items: center; 
 }

 .event-cards{
   display:flex;
   justify-content: space-around;
   width: 100%; 
 }

 .hero p::before{
   content: "medium";
}
}

