@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root{
    --backround-color: #fefae0 ;
    --header-color: #283618;
    --accent-color: #606c38;
    --text-color: black;
    --card-color: #A3B18A;
}

body{
    font-family: "Bebas Neue", "sans-serif";
    background-color: var(--backround-color);
    color: var(--text-color);
}


#content{
    max-width: 1024px; 
    margin: 0 auto; 
    background-color: var(--card-color);
}

#topheader {
    display: flex;
    text-align: center;
    background-color: var(--header-color);
    border-radius: 10px;
}

main{
    padding: 1rem; 
    /* display: grid; 
    grid-template-columns: 1fr; */
}

ul{
    list-style: none; 
}

nav ul{
    list-style: none;
    text-align: center; 
    background-color: var(--backround-color);
    padding-inline-start: 0px;
    display: none; 
}

nav ul.open{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

#menu-button{
    background-color: inherit ;
    font-size: 2rem ;
    padding: .5rem ; 
}

#menu-button::before{
    content: "≡"; 
}

#menu-button.open::before{
    content: "X";
}

header{
    padding: 1rem; 
}

header img{
    height: 150px;
    margin: 20px; 
}

header h1{
    text-align: center;
    margin-top: 40px; 
    color: var(--backround-color); 
}

#content nav ul{
    background-color: var(--accent-color);
}

nav ul li{
    padding: 1rem; 
    width: 100%; 
}

nav ul li:hover{
    color:black;
    background-color: var(--header-color);
}

a{
    color: var(--header-color); 
}

nav ul li a {
    display: block;
    color: var(--backround-color);  
    text-decoration: none;
    /* padding: 10px; */
}

#topheader h1{
    width: 600px;
    margin: 50px 0px;
}

#topheader img{
    height: 150px; 
    /* width:300px;*/
    border-radius: 10px;
    margin: 1rem;
}

main h2{
    text-align: center;
}

footer{
    padding: 1rem; 
    text-align: center; 
    background-color: var(--header-color);
    /* color: white; */
}

footer p{
    color: var(--backround-color); 
}

#content main h2{
    text-align: center;
}

#learning-activities{
    list-style: none;
}

.card h3{
    background-color: var(--header-color);
    /* text-align: center;  */
    color: var(--backround-color); 
    margin: 0; 
    padding: 1rem; 
}

.card {
    margin: 1rem;
    border: 1px var(--header-color) solid;
}

.card p{
    padding: 1rem; 
}

#content main hr{
    height: 3px; 
}

.map iframe{
    width: 100%; 
}

#learning-activities a:visited{
    color: black; 
}

#learning-activities a:hover{
    color: black; 
}

.temple{
    text-align: center;
    position: relative;
}

.temple img{
    border: 2px solid black; 
}

.temple p {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: white;
    color: black;
    padding: .5rem;
    border: 1px black solid;
    border-radius: 4px;
}

/* form css */

label{
    display: block; 
}

input{
    display: block; 
    margin-bottom: 1rem;
    font-size: 1.7rem;
    padding: .7rem;
}

button{
    font-size: 5rem;
    background-color: var(--header-color);
    padding: .3rem;
    border-radius: 3px;
    color: white; 
}

sup{
    color:red;
}
